{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<h1>{{ posts.title }}</h1>

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-50x50">
        <img
          src="http://openweathermap.org/img/w/{{ weather.icon }}.png"
          alt="Image"
        />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <span class="title">{{ weather.city }}</span>
          <br />
          <span class="subtitle">{{ weather.temperature }}° C</span>
          <br />
          {{ weather.description }}
        </p>
      </div>
    </div>
  </article>
</div>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <p>City: {{ posts.city }}</p>
        <p>Description: {{ posts.content }}</p>
        <p>Date: {{ posts.date }}</p>
        <p>Posted By: {{ posts.user }}</p>
      </div>
      <div class="card-action">
        <!-- Deji plz add ur edit and delete urls here -->
        <a href="">Edit</a>
        <a href="">Delete</a>
      </div>
    </div>
    {% for photo in posts.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}" />
    {% empty %}
    <div class="card-panel center-align">No Photos Uploaded</div>
    {% endfor %}
    <form
      action="{% url 'add_photo' posts.id %}"
      enctype="multipart/form-data"
      method="POST"
      class="card-panel"
    >
      {% csrf_token %} {{ form|crispy }}
      <input type="file" name="photo-file" />
      <input type="submit" class="btn" value="Upload Photo" />
    </form>
  </div>
  <div class="col s6">
    <form action="{% url 'add_review' posts.id %}" method="post">
      {% csrf_token %} {{ form|crispy }}
      <div class="form-group">
        {{ reviews_form.as_p }}
        <input type="submit" class="btn" value="Add A Review" />
      </div>
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Review</th>
          <th>Posted By</th>
        </tr>
      </thead>
      <tbody>
        {% for review in posts.reviews_set.all %}
        <tr>
          <td>{{review.date}}</td>
          <td>{{review.content}}</td>
          <td>{{review.user}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
