{% extends 'base.html' %}
{% block content %}

 {% for post in posts %}
<div class="card">
    <!-- add this single line below -->
    <a href="{% url 'detail' post.id %}">
      <div class="card-content">
        <span class="card-title">{{ post.title }}</span>
        <p>City: {{ post.city }}</p>
        <p>Content: {{ post.content }}</p>
        <p>Date: {{ post.date }}</p>
        <p>Posted By: {{ post.user }}</p>

      </div>
    <!-- and this following one as well -->
    </a>
  </div>
  <br>
  {% endfor %}
  <a href="{% url 'index' %}">Show more reviews</a>

{% endblock %}